{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    "consistent-return": "off",
    "func-names": "off",
    "jsx-a11y/no-autofocus": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    // "import/no-anonymous-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.[jt]s",
          "**/*.spec.[jt]s",
          "**/*.test.[jt]sx",
          "**/*.spec.[jt]sx"
        ]
      }
    ],
    "import/no-unresolved": 0,
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", ["parent", "sibling"], "index"],
        "pathGroups": [
          { "pattern": "react", "group": "builtin", "position": "after" },
          { "pattern": "react-dom", "group": "builtin", "position": "after" }
        ],
        "pathGroupsExcludedImportTypes": ["react", "react-dom"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ], // import 순서 및 예외 처리
    "import/prefer-default-export": "off",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-use-before-define": [0],
    "no-return-assign": "off",
    "quotes": "off",
    "react/button-has-type": "off",
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ], // components의 funciton-declaration 해제
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": true,
        "shorthandLast": true,
        "ignoreCase": true,
        "reservedFirst": true
      }
    ], // jsx components의 Attribute를 정렬
    "react-hooks/exhaustive-deps": "warn", // useEffect dependencies 체크
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off", // 맨 위에 React 선언 안해도 됨
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-use-before-define": [1],
    "@typescript-eslint/quotes": [
      2,
      "backtick",
      {
        "avoidEscape": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "off"
  }
}
